.rotary{
	animation: spin 1s linear infinite;
}
a {
	text-decoration: none;
	color: blue;
}
a:active{
	color: red;
}
*{
	font-family: Arial;
}
h1,h2,h3,h4,h5,h6{
	font-weight: bold;
}
#navbar{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	height: 41px;
	z-index: 2;
	width: 100%;
	margin: 0;
	background-color: #303030;
	color: white;
}
#navbar a i{
	font-size: 18px;
}
#navbar a{
	font-family: Arial;
	display: inline-block;
	padding: 10px;
	text-decoration: none;
	font-size: large;
	text-align: center;
	color: white;
	transition: all 0.5s;
}
#navbar .active{
	background-color: red;
	transition: all 0.5s;
}
.navleft a:hover:not(.active){
	background-color: green;
	transition: all 0.5s;
}
#navbar a:active:not(.active){
	background-color: white;
	color: black;
	transition: all 0.5s;
}
.navleft{
	display: inline-block;
	float: left;
	overflow: hidden;
	width: 50%;
}
.navleft a{
	float: left;
}
#navbar form{
	position: absolute;
	right: 5px;
	top: 5px;
	float: right;
}
#navbar input[type='text']{
	border: none;
	float: left;
	font-family: Arial;
	height: 30px;
	color: white;
	padding: 0;
	padding-left: 3px;
	background-color: #555555;
}
#navbar button[type='submit']{
	float: left;
	width: 30px;
	height: 30px;
	border: none;
	background-color: #EEEEEE;
}
#navbar button:hover{
	background-color: #CCCCCC;
}
#navbar button:active{
	background-color: #888888;
}
#navbar button:focus{
	outline: none;
}
#main{
	margin-top: 41px;
}
#sidebar{
	position: fixed;
	display: block;
	height: 100%;
	top: 41.5px;
	left: 0;
	padding: 10px;
	z-index: 1;
	overflow-x: hidden;
	bottom: 0;
	float: left;
	background-color: #EEEEEE;
	width: 250px;
}
#pages{
	box-sizing: border-box;
	float: left;
	margin: 10px;
	height: 100%;
	margin-left: 280px;
}
.note{
	margin: 10px;
	margin-top: 0px;
	float: left;
	background-color: yellow;
	padding: 5px;
	height: auto;
	display: block;
	border-left: 10px solid orange;
}
.linklist{
	width: 100%;
	padding: 0;
	list-style-type: none;
}
.linklist a{
	margin: 5px;
	color: black;
	text-decoration: none;
	display: block;
	padding: 5px;
	transition: all 0.5s;
}
.linklist a:hover{
	background-color: #CCCCCC;
	border-radius: 5px;
	transition: all 0.5s;
}
.linklist a:active{
	background-color: #AAAAAA;
	transition: all 0.5s;
}
@keyframes spin{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
